@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h1 {
    color: darkslategrey;
    background-color: lightgrey;
}

h2 {
    color: darkolivegreen;
}

p {
    text-align: justify;
}