@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
    background-attachment: fixed;
}

body {
    background-image: linear-gradient(to bottom, #E4F2E7, #97A6A0, #93BFB7 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2D3E40;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2D3E40;
    text-align: center;
    text-shadow: 1px 1px 2px #182122;
}

h2 {
    color: #387373;
}


p {
    text-align: justify;
}